.circles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

.temperatures-circle {
    background-color: #BDCBCE;
    padding: 30px;
    border-radius: 100px;
    box-shadow: -2px 0px 30px -14px #BCA8A4;
    margin: 20px;
}

.temperatures-circle>.label {
    margin-left: 15px;
    margin-right: 15px;
}

.outside-circle {
    background-color: #CEBDCB;
    padding: 30px;
    border-radius: 100px;
    box-shadow: -2px 0px 30px -14px #BCA8A4;
    margin: 20px;
}

.outside-circle>.label {
    margin-left: 10px;
    margin-right: 10px;
}

.feelsLike-circle {
    background-color: #C6D5C8;
    padding: 30px;
    border-radius: 100px;
    margin: 20px;
}