#graph-select-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #151D17
}

#flex-start-graph-input {
    padding: 10px
}

#flex-start-graph-input>label {
    padding: 10px
}

#flex-end-graph-input {
    padding: 10px;
    margin-right: 10px
}

#flex-end-graph-input>label {
    padding: 10px
}

#select-graph-text {
    color: #151D17
}

.bokeh-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.graph-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.graph-container {
    display: flex;
    height: 600px;
    width: 1200px;
    background-color: #E1D7D6;
    box-shadow: -2px 0px 30px -14px #BCA8A4;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
}

.noGraph-text {
    font-size: x-large;
    color: #151D17;
}